<form th:action="@{/register}" th:object="${word}" method="post">

    <label>英単語：</label>
    <input type="text" th:field="*{english}" />
    <!-- TODO: englishのエラーメッセージを表示してください -->
    <span th:if="____________" th:errors="____________" style="color:red"></span>

    <label>日本語訳：</label>
    <input type="text" th:field="*{japanese}" />
    <!-- TODO: japaneseのエラーメッセージを表示してください -->
    <span th:if="____________" th:errors="____________" style="color:red"></span>

    <button type="submit">登録</button>
</form>
