<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo登録・編集</title>
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>

<h1>ToDo編集</h1>

<form th:action="@{/todo/create}" th:object="${toDoForm}" method="post">

    <table>
        <tr>
            <td>ToDo</td>
            <td>
                <input type="text" th:field="*{todo}" />
                <span class="error-message" th:if="${#fields.hasErrors('todo')}" th:errors="*{todo}"></span>
            </td>
        </tr>
        <tr>
            <td>詳細</td>
            <td>
                <textarea th:field="*{detail}"></textarea>
                <span class="error-message" th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></span>
            </td>
        </tr>
    </table>

    <button type="submit">更新</button>
    <a th:href="@{/todo/list}">戻る</a>

</form>

</body>
</html>
